



  <link rel="stylesheet" href="/adminStyles/pageerror.css">

  <%- include('../../views/partials/admin/header') %>
  <div class="not-found-container">
    <h1>404</h1>
    <h2>Oops! The page you are looking for does not exist.</h2>
    <a href="/admin">Go to Home</a>
  </div>
  <%- include('../../views/partials/admin/footer') %>

